html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: black;
  text-decoration: none !important;
}
.main-container {
  height: 900px;
  max-width: 1512px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}
.container {
  max-width: 1512px;
  margin: 0 auto;
}

.header_section {
  padding: 30px 0;
}
.col-xl-4.logo {
  padding: 10px;
  width: 40%;
}
.col-xl-8.nav {
  justify-content: end;
  width: 60%;
}
.img-responsive {
  box-sizing: unset !important;
}
nav.navbar a {
  display: inline-block;
  color: black;
  padding: 0 8px;
}
.girlfont,
.boyfont,
.everyfont,
.accefont {
  font-family: "Bebas Neue";
  font-size: 16px;
}

.img-responsive {
  box-sizing: unset !important;
}
.searchlogo {
  height: 19px;
  width: 19px;
  margin-top: -10px;
  border-radius: 0px;
}
.cartlogo {
  height: 24px;
  width: 24px;
  margin-top: -8px;
  border-radius: 0px;
}
.userlogo {
  height: 19px;
  width: 18px;
  border-radius: 0px;
  margin-top: -10px;
}
.trylogo {
  width: 95px;
  left: 0px;
  top: 6px;
  border-radius: 36px;
  margin-top: -3px;
}
img.hamburger {
  display: none;
}
.menuview{
  display: none;
}

@media only screen and (max-width: 992px) {

  .girlfont,
  .boyfont,
  .everyfont,
  .accefont {
    font-family: "Bebas Neue";
    font-size: 16px;
  }
  nav.navbar a {
    display: block;
    padding: 0 6px;
}
.searchlogo {
  height: 19px;
  width: 19px;
  margin-top: -10px;
  border-radius: 0px;
}
.cartlogo {
  height: 24px;
  width: 24px;
  margin-top: -8px;
  border-radius: 0px;
}
.userlogo {
  height: 19px;
  width: 18px;
  border-radius: 0px;
  margin-top: -10px;
}
.trylogo {
  width: 80px;
  left: 0px;
  top: 6px;
  border-radius: 36px;
  margin-top: -3px;
}
  img.hamburger {
    display: none;
  }
  .menuview{
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .girlfont,
  .boyfont,
  .everyfont,
  .accefont,
  .trylogo {
  display: none !important;
  }
.searchlogo {
  padding: 0 10px;
    height: 25px;
    width: 25px;
    margin-top: 0px;
    border-radius: 0px;
}
.cartlogo {
  padding: 0 10px;
  height: 32px;
  width: 26px;
  margin-top: 3px;
  border-radius: 0px;
}
.userlogo {
  padding: 0 10px;
  height: 36px;
  width: 22px;
  border-radius: 0px;
  margin-top: 0px;
}
img.hamburger {
  display: flex;
  height: 25px;
  width: 25.75px;
  margin: 16px 8px;
}
  .close {
    height: 32px;
    width: 30px;
    background-color: white;
  }

  .menuview {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 10px 10px 10px 10px;
    position: absolute;
    top: 0;
    right: 0;
    width: 400px !important;
    height: 660px;
  }

  .menuview a {
    display: inline-block;
    margin-top: 10px;
    padding: 20px 0px 10px 0px;
    color: white;
    text-align: end;
  }

}
@media only screen and (max-width: 567px) {


  .searchlogo {
    padding: 0 10px;
      height: 25px;
      width: 25px;
      margin-top: 0px;
      border-radius: 0px;
  }
  .cartlogo {
    padding: 0 10px;
    height: 32px;
    width: 26px;
    margin-top: 3px;
    border-radius: 0px;
  }
  .userlogo {
    padding: 0 10px;
    height: 36px;
    width: 22px;
    border-radius: 0px;
    margin-top: 0px;
  }
  img.hamburger {
    display: flex;
    height: 25px;
    width: 25.75px;
    margin: 16px 8px;
  }
    .close {
      height: 32px;
      width: 30px;
      background-color: white;
    }
  
    .menuview {
      display: flex;
      flex-direction: column;
      background-color: black;
      padding: 10px 10px 10px 10px;
      position: absolute;
      top: 0;
      right: 0;
      width: 300px !important;
      height: 660px;
    }
  
    .menuview a {
      display: inline-block;
      margin-top: 10px;
      padding: 20px 0px 10px 0px;
      color: white;
      text-align: end;
    }
  

}
@media only screen and (max-width: 420px) {


  .searchlogo {
    padding: 0 0px;
      height: 19px;
      width: 19px;
      margin-top: 0px;
      border-radius: 0px;
  }
  .cartlogo {
    padding: 0 0px;
    height: 21px;
    width: 22px;
    margin-top: 6px;
    border-radius: 0px;
  }
  .userlogo {
    padding: 0 0px;
    height: 17px;
    width: 17px;
    border-radius: 0px;
    margin-top: 0px;
  }
  img.hamburger {
    display: flex;
    height: 16px;
    width: 19.75px;
    margin: 24px 0px 0 0;
}
    .close {
      height: 32px;
      width: 30px;
      background-color: white;
    }
  
    .menuview {
      display: flex;
      flex-direction: column;
      background-color: black;
      padding: 10px 10px 10px 10px;
      position: absolute;
      top: 0;
      right: 0;
      width: 175px !important;
      height: 660px;
    }
  
    .menuview a {
      display: inline-block;
      margin-top: 10px;
      padding: 20px 0px 10px 0px;
      color: white;
      text-align: end;
    }
  

}

/* @media only screen and (max-width: 1199px) {
  .logoimg {
   
    margin: 20px 0 0 5px
  }  
  .headers {
    
    margin-top: -60px;
   
  }
}
@media only screen and (max-width: 992px) {
  .girlfont {
    padding: 0 10px;
    font-size: 16px;
  }
  .boyfont {
    padding: 0 10px;
    font-size: 16px;
  }
  .everyfont {
    padding: 0 10px;
    font-size: 16px;
  }
  .accefont {
    padding: 0 10px;
    font-size: 16px;
  }
  .searchlogo {
    padding: 0 7px 0 10px;
    height: 19px;
    width: 19px;
    margin-top: 0px;
    border-radius: 0px;
  }
  .cartlogo {
    height: 24px;
    padding: 0 7px 0 10px;
    width: 24px;
    margin-top: 3px;
    border-radius: 0px;
  }
  .userlogo {
    padding: 0 10px;
    height: 19px;
    width: 18px;
    border-radius: 0px;
    margin-top: 0px;
  }
  .trylogo {
    width: 80px;
    border-radius: 36px;
    margin-top: 0px;
    padding: 0 45px 0 5px;
  }
  .bannerImg {
    height: 494px;
    width: 374px;
    position: absolute;
    left: 43%;
    top: 16%;
  }
}

@media only screen and (min-width: 76px) {
  .hamburger {
    display: none;
  }
  .menuview {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .girlfont {
    display: none;
  }
  .boyfont {
    display: none;
  }
  .everyfont {
    display: none;
  }
  .accefont {
    display: none;
  }
  .trylogo {
    display: none;
  }

  .searchlogo {
    height: 24px;
    width: 24px;
    border-radius: 0px;
  }
  .cartlogo {
    height: 25px;
    width: 28px;
  }
  .userlogo {
    height: 25px;
    width: 20px;
  }
  .hamburger {
    display: flex;
    height: 25px;
    width: 25.75px;
    padding: 0px 50px 4px 5px;
  }
  .close {
    height: 32px;
    width: 30px;
    background-color: white;
  }

  .menuview {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 10px 10px 10px 10px;
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 615px;
  }

  .menuview a {
    display: inline-block;
    margin-top: 10px;
    padding: 20px 0px 10px 0px;
    color: white;
    text-align: end;
  }

  
}

@media only screen and (max-width: 567px) {
 
  .logoimg {
    margin: 40px 0 0 30px;
  }
  .searchlogo {
    height: 19px;
    width: 19px;
  }
  .cartlogo {
    height: 22px;
    width: 24px;
  }
  .userlogo {
    height: 20px;
    width: 17px;
  }
  .hamburger {
    display: flex;
    height: 16px;
    width: 18.75px;
    padding: 0px 10px 4px 5px;
  }
  .close {
    height: 28px;
    width: 28px;
    background-color: white;
  }
  .menuview {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 10px 10px 10px 10px;
    position: absolute;
    top: 0;
    right: 0;
    width: 170px;
    height: 615px;
  }
  .menuview a {
    display: inline-block;
    margin-top: 10px;
    padding: 20px 0px 10px 0px;
    color: white;
    text-align: end;
  }
  .bannerImg {
    height: 494px;
    width: 374px;
    position: absolute;
    left: 43%;
    top: 16%;
  }
}
@media only screen and (max-width: 420px) {
  .logoimg {
    margin: 40px 0 0 30px;
  }
  .searchlogo {
    height: 17px;
    width: 17px;
  }
  .cartlogo {
    height: 20px;
    padding: 5px 5px 5px 5px;
    width: 22px;
    margin-top: 0px;
  }
  .userlogo {
    height: 17px;
    width: 15px;
  }
  .hamburger {
    display: flex;
    padding-left: 3px;
    height: 15px;
    width: 16.75px;
  }
  .close {
    height: 25px;
    width: 25px;
    background-color: white;
  }
  .menuview {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 10px 10px 10px 10px;
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 615px;
  }
  .menuview a {
    display: inline-block;
    margin-top: 10px;
    padding: 20px 0px 10px 0px;
    color: white;
    text-align: end;
  }
} */
